In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
import GoH.verify_model
from matplotlib import pyplot as plt
import os
import pandas as pd
import seaborn as sns
import sklearn.preprocessing

In [3]:
%matplotlib inline

In [4]:
dataDir = '../../data/'
modelSet = 'target_300_10.18497.state.gz'

In [5]:
df = GoH.verify_model.state_to_df(os.path.join(dataDir, modelSet))

In [6]:
params = GoH.verify_model.extract_params(os.path.join(dataDir, modelSet))

In [7]:
alpha = sum([float(x) for x in params[0][1:]])
alpha

4.695902637960019

In [8]:
dt = df[['#doc', 'type', 'topic']]
dt[:10]

   #doc      type  topic
0     0  uncommon    165
1     0     thing    224
2     0    member    224
3     0  boarding    136
4     0    school     14
5     0      form    237
6     0    clique     94
7     0      pair     11
8     0      tend    136
9     0     thank    224

In [9]:
dt = dt.groupby(['#doc', 'topic']).agg('count')

In [10]:
dt[:10]

            type
#doc topic
0    11       10
     14        7
     94       14
     102       2
     113      23
     136      12
     144       1
     165       1
     171      12
     175       1

In [11]:
dt = dt.reset_index()

In [12]:
dt = dt.pivot(index='#doc', columns='topic', values='type').fillna(value=0)

In [13]:
dt[:10]

topic,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
#doc,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
dt = dt + alpha

In [15]:
dt = pd.DataFrame(sklearn.preprocessing.normalize(dt, norm='l1', axis=1))

In [16]:
dt[:5]

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,0.003640,0.003640,0.003640,0.003640,0.003640,0.003640,0.003640,0.003640,0.003640,0.003640,...,0.003640,0.003640,0.003640,0.003640,0.003640,0.004416,0.003640,0.003640,0.003640,0.003640
1,0.003680,0.003680,0.003680,0.003680,0.006815,0.004464,0.003680,0.003680,0.003680,0.003680,...,0.003680,0.003680,0.003680,0.003680,0.003680,0.003680,0.003680,0.003680,0.003680,0.003680
2,0.003663,0.003663,0.003663,0.003663,0.003663,0.004443,0.003663,0.003663,0.017704,0.003663,...,0.003663,0.003663,0.003663,0.003663,0.003663,0.003663,0.003663,0.003663,0.003663,0.003663
3,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,...,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695,0.003695
4,0.003626,0.003626,0.009032,0.003626,0.003626,0.003626,0.003626,0.003626,0.003626,0.003626,...,0.003626,0.003626,0.003626,0.004398,0.003626,0.003626,0.003626,0.003626,0.003626,0.003626

In [17]:
dt.iloc[4].sum()

1.0000000000000024

In [18]:
corr = dt.corr()

In [ ]:
import seaborn as sns; sns.set(color_codes=True)

In [ ]:
g = sns.clustermap(dt)